<?xml version="1.0"?>
<!-- Compatibility wrapper used by iwalk_bringup. The only ros2_control block
     comes from iwalk_description/urdf/iwalk.urdf.xacro. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iwalk">
  <xacro:include filename="$(find iwalk_description)/urdf/iwalk.urdf.xacro"/>
</robot>
